absl-py==2.1.0
agent==0.1.2
aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiohttp-client-cache==0.11.1
aiohttp-retry==2.8.3
aiosignal==1.3.2
aiosqlite==0.20.0
altair==5.5.0
annotated-types==0.7.0
anthropic==0.42.0
anyio==4.7.0
arch==7.2.0
arrow==1.3.0
astrapy==1.5.2
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
attrs==24.1.0
audioread==3.0.1
backoff==2.2.1
baidusearch==1.0.3
beautifulsoup4==4.12.3
binaryornot==0.4.4
black==24.10.0
bleach==6.2.0
blinker==1.9.0
build==1.2.2.post1
CacheControl==0.14.1
cachetools==5.5.0
caer==2.0.8
canvas==0.1.15
cattrs==24.1.2
certifi==2024.12.14
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.3.2
cleo==2.1.0
click==8.1.7
colorgram.py==1.2.0
contourpy==1.2.1
cookiecutter==2.6.0
crashtest==0.4.1
cron-converter==1.2.1
cryptography==44.0.0
cycler==0.12.1
Cython==3.0.11
decorator==5.1.1
deepdiff==8.1.1
defusedxml==0.7.1
deprecation==2.1.0
distlib==0.3.9
distro==1.9.0
dnspython==2.7.0
duckduckgo_search==7.0.2
dulwich==0.21.7
email_validator==2.2.0
et_xmlfile==2.0.0
exa_py==1.7.0
exchange_calendars==4.6
executing==2.0.1
fal_client==0.5.6
fastapi==0.115.6
fastapi-cli==0.0.7
fastjsonschema==2.21.1
feedparser==6.0.11
filelock==3.16.1
finvizfinance==1.1.0
Flask==3.1.0
Flask-Cors==5.0.0
flatbuffers==24.12.23
fonttools==4.53.1
formulaic==1.1.1
freezegun==1.5.1
frozendict==2.4.6
frozenlist==1.5.0
fsspec==2024.12.0
gast==0.6.0
gitdb==4.0.11
GitPython==3.1.43
google==3.0.0
google-ai-generativelanguage==0.6.10
google-api-core==2.24.0
google-api-python-client==2.156.0
google-auth==2.37.0
google-auth-httplib2==0.2.0
google-generativeai==0.8.3
google-pasta==0.2.0
googleapis-common-protos==1.66.0
gotrue==2.11.1
grpcio==1.68.1
grpcio-status==1.68.1
gTTS==2.5.4
h11==0.14.0
h2==4.1.0
h5py==3.12.1
hpack==4.0.0
html5lib==1.1
httpcore==1.0.7
httplib2==0.22.0
httptools==0.6.4
httpx==0.27.2
httpx-sse==0.4.0
huggingface-hub==0.27.0
hyperframe==6.0.1
idna==3.7
importlib_metadata==8.5.0
inflection==0.5.1
iniconfig==2.0.0
installer==0.7.0
interface-meta==1.3.0
ipython==8.26.0
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==5.3.0
jaraco.functools==4.0.2
jedi==0.19.1
Jinja2==3.1.4
jiter==0.8.2
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter_core==5.7.2
kaggle==1.6.17
kagglehub==0.3.6
keras==3.7.0
keyring==24.3.1
kiwisolver==1.4.5
korean-lunar-calendar==0.3.1
lancedb==0.17.0
lazy_loader==0.4
libclang==18.1.1
librosa==0.10.2.post1
linearmodels==6.1
llvmlite==0.43.0
lxml==5.3.0
lxml_html_clean==0.4.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.1
matplotlib-inline==0.1.7
mdurl==0.1.2
ml-dtypes==0.4.1
monotonic==1.6
more-itertools==10.3.0
MouseInfo==0.1.3
mpmath==1.3.0
msgpack==1.1.0
multidict==6.1.0
multitasking==0.0.11
mypy==1.14.1
mypy-extensions==1.0.0
namex==0.0.8
narwhals==1.19.0
Nasdaq-Data-Link==1.0.4
nbformat==5.10.4
networkx==3.4.2
newsapi==0.1.1
newspaper4k==0.9.3.1
nltk==3.9.1
numba==0.60.0
numpy==1.26.4
openai==1.58.1
openbb==4.3.5
openbb-alpha-vantage==1.3.5
openbb-benzinga==1.3.5
openbb-biztoc==1.3.5
openbb-bls==1.0.3
openbb-cboe==1.3.5
openbb-cftc==1.0.3
openbb-charting==2.2.5
openbb-commodity==1.2.6
openbb-core==1.3.7
openbb-crypto==1.3.5
openbb-currency==1.3.5
openbb-derivatives==1.3.5
openbb-ecb==1.3.5
openbb-econdb==1.2.5
openbb-econometrics==1.4.5
openbb-economy==1.3.5
openbb-equity==1.3.5
openbb-etf==1.3.5
openbb-federal-reserve==1.3.5
openbb-finra==1.3.5
openbb-finviz==1.2.5
openbb-fixedincome==1.3.5
openbb-fmp==1.3.5
openbb-fred==1.3.5
openbb-government-us==1.3.5
openbb-imf==1.0.2
openbb-index==1.3.5
openbb-intrinio==1.3.5
openbb-multpl==1.0.5
openbb-nasdaq==1.3.5
openbb-news==1.3.5
openbb-oecd==1.3.5
openbb-platform-api==1.0.4
openbb-polygon==1.3.5
openbb-quantitative==1.3.5
openbb-regulators==1.3.5
openbb-sec==1.3.5
openbb-seeking-alpha==1.3.5
openbb-stockgrid==1.3.5
openbb-technical==1.3.5
openbb-tiingo==1.3.5
openbb-tmx==1.2.5
openbb-tradier==1.2.5
openbb-tradingeconomics==1.3.5
openbb-us-eia==1.0.0
openbb-wsj==1.3.5
openbb-yfinance==1.3.6
opencv-contrib-python==4.11.0.86
openpyxl==3.1.5
opt_einsum==3.4.0
optree==0.13.1
orderly-set==5.2.3
outcome==1.3.0.post0
overrides==7.7.0
packaging==24.1
pandas==2.2.2
pandas_ta==0.3.14b0
parso==0.8.4
pathspec==0.12.1
patsy==1.0.1
peewee==3.17.8
pexpect==4.9.0
phi==0.6.7
phidata==2.7.5
pillow==10.4.0
pkginfo==1.12.0
platformdirs==4.3.6
playsound==1.3.0
plotly==5.24.1
pluggy==1.5.0
pocketsphinx==5.0.4
poetry==1.8.5
poetry-core==1.9.1
poetry-plugin-export==1.8.0
polars==1.18.0
pooch==1.8.2
postgrest==0.19.1
posthog==3.7.4
primp==0.9.2
prompt_toolkit==3.0.47
propcache==0.2.1
proto-plus==1.25.0
protobuf==5.29.2
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==18.1.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
PyAudio==0.2.14
PyAutoGUI==0.9.54
pycountry==24.6.1
pycparser==2.22
pydantic==2.8.2
pydantic-settings==2.7.0
pydantic_core==2.20.1
pydeck==0.9.1
pygame==2.6.1
PyGetWindow==0.0.9
Pygments==2.18.0
pyhdfe==0.2.0
PyJWT==2.10.1
pylance==0.20.0
pyluach==2.2.0
pymongo==4.10.1
PyMsgBox==1.0.9
pyobjc==10.3.2
pyobjc-core==10.3.2
pyobjc-framework-Accessibility==10.3.2
pyobjc-framework-Accounts==10.3.2
pyobjc-framework-AddressBook==10.3.2
pyobjc-framework-AdServices==10.3.2
pyobjc-framework-AdSupport==10.3.2
pyobjc-framework-AppleScriptKit==10.3.2
pyobjc-framework-AppleScriptObjC==10.3.2
pyobjc-framework-ApplicationServices==10.3.2
pyobjc-framework-AppTrackingTransparency==10.3.2
pyobjc-framework-AudioVideoBridging==10.3.2
pyobjc-framework-AuthenticationServices==10.3.2
pyobjc-framework-AutomaticAssessmentConfiguration==10.3.2
pyobjc-framework-Automator==10.3.2
pyobjc-framework-AVFoundation==10.3.2
pyobjc-framework-AVKit==10.3.2
pyobjc-framework-AVRouting==10.3.2
pyobjc-framework-BackgroundAssets==10.3.2
pyobjc-framework-BrowserEngineKit==10.3.2
pyobjc-framework-BusinessChat==10.3.2
pyobjc-framework-CalendarStore==10.3.2
pyobjc-framework-CallKit==10.3.2
pyobjc-framework-CFNetwork==10.3.2
pyobjc-framework-Cinematic==10.3.2
pyobjc-framework-ClassKit==10.3.2
pyobjc-framework-CloudKit==10.3.2
pyobjc-framework-Cocoa==10.3.2
pyobjc-framework-Collaboration==10.3.2
pyobjc-framework-ColorSync==10.3.2
pyobjc-framework-Contacts==10.3.2
pyobjc-framework-ContactsUI==10.3.2
pyobjc-framework-CoreAudio==10.3.2
pyobjc-framework-CoreAudioKit==10.3.2
pyobjc-framework-CoreBluetooth==10.3.2
pyobjc-framework-CoreData==10.3.2
pyobjc-framework-CoreHaptics==10.3.2
pyobjc-framework-CoreLocation==10.3.2
pyobjc-framework-CoreMedia==10.3.2
pyobjc-framework-CoreMediaIO==10.3.2
pyobjc-framework-CoreMIDI==10.3.2
pyobjc-framework-CoreML==10.3.2
pyobjc-framework-CoreMotion==10.3.2
pyobjc-framework-CoreServices==10.3.2
pyobjc-framework-CoreSpotlight==10.3.2
pyobjc-framework-CoreText==10.3.2
pyobjc-framework-CoreWLAN==10.3.2
pyobjc-framework-CryptoTokenKit==10.3.2
pyobjc-framework-DataDetection==10.3.2
pyobjc-framework-DeviceCheck==10.3.2
pyobjc-framework-DictionaryServices==10.3.2
pyobjc-framework-DiscRecording==10.3.2
pyobjc-framework-DiscRecordingUI==10.3.2
pyobjc-framework-DiskArbitration==10.3.2
pyobjc-framework-DVDPlayback==10.3.2
pyobjc-framework-EventKit==10.3.2
pyobjc-framework-ExceptionHandling==10.3.2
pyobjc-framework-ExecutionPolicy==10.3.2
pyobjc-framework-ExtensionKit==10.3.2
pyobjc-framework-ExternalAccessory==10.3.2
pyobjc-framework-FileProvider==10.3.2
pyobjc-framework-FileProviderUI==10.3.2
pyobjc-framework-FinderSync==10.3.2
pyobjc-framework-FSEvents==10.3.2
pyobjc-framework-GameCenter==10.3.2
pyobjc-framework-GameController==10.3.2
pyobjc-framework-GameKit==10.3.2
pyobjc-framework-GameplayKit==10.3.2
pyobjc-framework-HealthKit==10.3.2
pyobjc-framework-ImageCaptureCore==10.3.2
pyobjc-framework-InputMethodKit==10.3.2
pyobjc-framework-InstallerPlugins==10.3.2
pyobjc-framework-InstantMessage==10.3.2
pyobjc-framework-Intents==10.3.2
pyobjc-framework-IntentsUI==10.3.2
pyobjc-framework-IOBluetooth==10.3.2
pyobjc-framework-IOBluetoothUI==10.3.2
pyobjc-framework-IOSurface==10.3.2
pyobjc-framework-iTunesLibrary==10.3.2
pyobjc-framework-KernelManagement==10.3.2
pyobjc-framework-LatentSemanticMapping==10.3.2
pyobjc-framework-LaunchServices==10.3.2
pyobjc-framework-libdispatch==10.3.2
pyobjc-framework-libxpc==10.3.2
pyobjc-framework-LinkPresentation==10.3.2
pyobjc-framework-LocalAuthentication==10.3.2
pyobjc-framework-LocalAuthenticationEmbeddedUI==10.3.2
pyobjc-framework-MailKit==10.3.2
pyobjc-framework-MapKit==10.3.2
pyobjc-framework-MediaAccessibility==10.3.2
pyobjc-framework-MediaLibrary==10.3.2
pyobjc-framework-MediaPlayer==10.3.2
pyobjc-framework-MediaToolbox==10.3.2
pyobjc-framework-Metal==10.3.2
pyobjc-framework-MetalFX==10.3.2
pyobjc-framework-MetalKit==10.3.2
pyobjc-framework-MetalPerformanceShaders==10.3.2
pyobjc-framework-MetalPerformanceShadersGraph==10.3.2
pyobjc-framework-MetricKit==10.3.2
pyobjc-framework-MLCompute==10.3.2
pyobjc-framework-ModelIO==10.3.2
pyobjc-framework-MultipeerConnectivity==10.3.2
pyobjc-framework-NaturalLanguage==10.3.2
pyobjc-framework-NetFS==10.3.2
pyobjc-framework-Network==10.3.2
pyobjc-framework-NetworkExtension==10.3.2
pyobjc-framework-NotificationCenter==10.3.2
pyobjc-framework-OpenDirectory==10.3.2
pyobjc-framework-OSAKit==10.3.2
pyobjc-framework-OSLog==10.3.2
pyobjc-framework-PassKit==10.3.2
pyobjc-framework-PencilKit==10.3.2
pyobjc-framework-PHASE==10.3.2
pyobjc-framework-Photos==10.3.2
pyobjc-framework-PhotosUI==10.3.2
pyobjc-framework-PreferencePanes==10.3.2
pyobjc-framework-PushKit==10.3.2
pyobjc-framework-Quartz==10.3.2
pyobjc-framework-QuickLookThumbnailing==10.3.2
pyobjc-framework-ReplayKit==10.3.2
pyobjc-framework-SafariServices==10.3.2
pyobjc-framework-SafetyKit==10.3.2
pyobjc-framework-SceneKit==10.3.2
pyobjc-framework-ScreenCaptureKit==10.3.2
pyobjc-framework-ScreenSaver==10.3.2
pyobjc-framework-ScreenTime==10.3.2
pyobjc-framework-ScriptingBridge==10.3.2
pyobjc-framework-SearchKit==10.3.2
pyobjc-framework-Security==10.3.2
pyobjc-framework-SecurityFoundation==10.3.2
pyobjc-framework-SecurityInterface==10.3.2
pyobjc-framework-SensitiveContentAnalysis==10.3.2
pyobjc-framework-ServiceManagement==10.3.2
pyobjc-framework-SharedWithYou==10.3.2
pyobjc-framework-SharedWithYouCore==10.3.2
pyobjc-framework-ShazamKit==10.3.2
pyobjc-framework-Social==10.3.2
pyobjc-framework-SoundAnalysis==10.3.2
pyobjc-framework-Speech==10.3.2
pyobjc-framework-SpriteKit==10.3.2
pyobjc-framework-StoreKit==10.3.2
pyobjc-framework-Symbols==10.3.2
pyobjc-framework-SyncServices==10.3.2
pyobjc-framework-SystemConfiguration==10.3.2
pyobjc-framework-SystemExtensions==10.3.2
pyobjc-framework-ThreadNetwork==10.3.2
pyobjc-framework-UniformTypeIdentifiers==10.3.2
pyobjc-framework-UserNotifications==10.3.2
pyobjc-framework-UserNotificationsUI==10.3.2
pyobjc-framework-VideoSubscriberAccount==10.3.2
pyobjc-framework-VideoToolbox==10.3.2
pyobjc-framework-Virtualization==10.3.2
pyobjc-framework-Vision==10.3.2
pyobjc-framework-WebKit==10.3.2
pyparsing==3.1.2
pypdf==5.1.0
pyperclip==1.9.0
pyproject_hooks==1.2.0
PyRect==0.2.0
PyScreeze==1.0.1
PySocks==1.7.1
pytest==8.3.4
pytest-freezegun==0.4.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.18
python-slugify==8.0.4
python-vlc==3.0.21203
pytils==0.4.1
pyttsx3==2.98
pytweening==1.2.0
pytz==2024.1
pywhatkit==5.4
PyYAML==6.0.1
random-user-agent==1.0.1
RapidFuzz==3.11.0
realtime==2.1.0
redis==5.0.8
referencing==0.35.1
regex==2024.11.6
requests==2.32.3
requests-cache==1.2.1
requests-file==2.1.0
requests-toolbelt==1.0.0
RestrictedPython==7.2
rich==13.7.1
rich-toolkit==0.12.0
rpds-py==0.19.1
rsa==4.9
rubicon-objc==0.5.0
ruff==0.7.4
safetensors==0.4.5
scikit-learn==1.5.1
scipy==1.14.0
seaborn==0.13.2
selenium==4.27.1
setuptools==75.6.0
setuptools-scm==8.1.0
sgmllib3k==1.0.0
shellingham==1.5.4
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
sortedcontainers==2.4.0
sounddevice==0.5.1
soundfile==0.13.0
soupsieve==2.6
soxr==0.5.0.post1
SpeechRecognition==3.12.0
spotipy==2.24.0
SQLAlchemy==2.0.36
stack-data==0.6.3
starlette==0.41.3
statsd==4.0.1
statsmodels==0.14.4
storage3==0.11.0
streamlit==1.41.1
StrEnum==0.4.15
supabase==2.11.0
supafunc==0.9.0
sympy==1.13.1
tantivy==0.22.0
tenacity==9.0.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
termcolor==2.5.0
text-unidecode==1.3
threadpoolctl==3.5.0
tldextract==5.1.3
tokenizers==0.21.0
toml==0.10.2
tomli==2.2.1
tomlkit==0.13.2
tools==0.1.9
toolz==1.0.0
torch==2.5.1
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
transformers==4.47.1
trio==0.27.0
trio-websocket==0.11.1
trove-classifiers==2024.10.21.16
twilio==9.4.3
typer==0.12.3
types-python-dateutil==2.9.0.20240316
typing_extensions==4.12.2
tzdata==2024.1
uritemplate==4.1.1
url-normalize==1.4.3
urllib3==2.2.2
uuid6==2024.7.10
uuid7==0.1.0
uvicorn==0.32.1
uvloop==0.21.0
virtualenv==20.28.0
watchfiles==1.0.3
wcwidth==0.2.13
webencodings==0.5.1
websocket-client==1.8.0
websockets==13.1
Werkzeug==3.1.3
wheel==0.45.1
wikipedia==1.4.0
wrapt==1.17.0
wsproto==1.2.0
xattr==1.1.0
xlrd==2.0.1
xmltodict==0.13.0
yarl==1.18.3
yfinance==0.2.51
youtube-transcript-api==0.6.3
zipp==3.21.0
